@use '../../../styles/colors.scss' as color;
@use '../../../styles/mixins.scss' as mixin;

.dropdown {
    padding-top: 10px;
    position: absolute;
    right: 0;
    width: 140%;

    &_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: color.$secondary_dark;
        padding: 20px 0;
        border-radius: 4px;
    }

    &_item {
        background-color: color.$secondary_light;
        color: color.$white;
        // border-radius: 4px;
        padding: 10px 0;
        text-align: center;
        
        &_button {
            @include mixin.clearButton;
            border-radius: 0;
            width: 100%;
            background-color: color.$secondary_light;
            color: color.$white;
            padding: 10px 0;
            text-align: center;
        }

        &_button:hover {
            background-color: color.$primary_light;
        }
        
        &:hover {
            background-color: color.$primary_light;
        }
    }
}